
.heartbeat-info {
    position: relative;
    height: 140px;
    padding-top: 10px;
    overflow: hidden;
    .info {
        width: 100%;
        height: 120px;
        padding-left: 138px;
        background: #EDEDED;
        border-radius: 60px;
    }
    .main_wrap {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0 14px 0 12px;
        border-radius: 60px;
    }
    .main {
        width: 358px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
    }
    .avatar_wrap {
        position: absolute;
        left: 0;
        top: 0;
        width: 138px;
        height: 138px;
        border-radius: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
    }
    .avatar {
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }
    .nickname {
        .name {
            font-size: 28px;
        }
        font-size: 26px;
        line-height: 28px;
        vertical-align: middle;
        color: #333;
    }
    .content {
        display: flex;
        align-items: center;
        margin-top: 10px;
        .sex {
            width: 28px;
            height: 28px;
            font-size: 12px;
            margin-right: 10px;
            border-radius: 14px;
            background: #fff;
        }
        .text {
            font-size: 24px;
            color: #999;
        }
        .dot {
            width: 4px;
            height: 4px;
            background: #999;
            border-radius: 50%;
            margin: 0 6px;
        }
    }
    .time {
        width: 126px;
        height: 90px;
        border-radius: 46px;
        background: #fff;
    }
}