
.page {
    height: 100%;
}

.project {
    font-family: cursive;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.content {
    padding: 24px;
    margin: 0;
    min-height: 280px;
    background: #f8f3e9;
}