
.root {
    display: flex;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.project {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

